body {
  padding: 20px;
  background: #f5f5f5;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}


.flex img {
  width: 400px;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}


.details {
  flex: 1;
}

.details h2 {
  margin-bottom: 15px;
}

.details p {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
}

.price {
  font-size: 22px;
  color: green;
  font-weight: bold;
}

button {
  padding: 10px 15px;
  margin: 8px 8px 8px 0;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background: #333;
}


@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    text-align: center;
  }

  .flex img {
    width: 250px;
  }
}
